.header_container {
    width: 100%;
    background-color: black;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 17px;
}

.header_container .icon {
    width: 20%;
    margin: 10px 0 10px 0;
    padding-left: 80px;
}

.header_container .content {
    width: 60%;
}

.header_container .login {
    width: 20%;
}

.header_container a {
    text-decoration: none;
    color: #fff;
}

.content-item li {
    display: inline-block;
    position: relative;
    margin: 20px;

}

.header_container a:hover {
    cursor: pointer;
    color: #f3e385;
}

.login-content>li {
    display: inline-block;
    position: relative;
    margin: 10px;
}



.footer-nav {
    width: 100%;
    display: flex;
    background-color: #000;
    color: #ffff;
}

.footer-nav .nav1,
.footer-nav .nav2 {
    width: 33.3333%;
    margin: 50px;
}

.footer-nav .nav2 h5,
.footer-nav .nav2 .name {
    color: #f3e385;
}

.footer-nav .nav2 .image img {
    width: 32%;
}